language: node_js
node_js:
- '6'
- '4'
- '0.12'
- '0.10'
branches:
  only:
  - master
notifications:
  slack:
    secure: gjfBaYQEJYhlq/+xiwFLgDcLxF0opnFVmSUmkm60hVkmM8ndzAKORiuyirvxWtH/gNGvMUxkJ6Ow8TInuluMC89JpDbqH9OY+ZrjExkQxkC5L30GmxzPYRMqIx5qeYudMYXTugaV9OKAv/+f+k3ZaovUZbn5FgzP2Ggk18ecy5M=
